version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: dockerfiles/api.dockerfile
    ports:
      - "8000:8000"

  train:
    build:
      context: .
      dockerfile: dockerfiles/train.dockerfile